
@page
@model CS3750FinalTimeTracker.Pages.ExistPasswordModel
@using Microsoft.AspNetCore.Http;

@{
}

<form method="post" asp-action="Tracker" class="text-center" enctype="multipart/form-data">
    <div class="form-group row">


        <div class="col-9">
            <label>Enter A Password</label>
            <input id="inputPassword" />
        </div>

        <div class="col-9">
            <label>Salt</label>
            <input id="inputSalt" asp-for="UserObj.User.salt" value="@HttpContext.Session.GetString("salt")" />
        </div>

        <div class="col-9">
            <label>Hash</label>
            <input id="inputHash" asp-for="UserObj.User.hash" value="@HttpContext.Session.GetString("hash")" />
        </div>

        <div class="col-9">
            <label>Group</label>
            <input id="inputGroup" asp-for="UserObj.User.GroupId" value="@HttpContext.Session.GetInt32("groupId")" />
        </div>

        <div>
            <button type="submit" class="btn btn-primary form-control" onclick="checkHash()">&nbsp;&nbsp;Submit&nbsp;&nbsp;</button>
        </div>

    </div>
</form>

<script src="~/js/hash.js"></script>
<script>

    function checkHash() {

        var password = document.getElementById("inputPassword").value;
        var salt = document.getElementById("inputSalt").value;

        var toHash = password + salt;
        var hash = sha256(toHash); // needs to be sent back to the server

        document.getElementById(inputHash).value = hash; // sent to the server

    }

</script>

