@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post" asp-action="existPassword" class="text-center" enctype="multipart/form-data">

    <h1 class="display-4">AUTHENTICATION</h1>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>

    <a class="nav-link text-primary rounded mb-2 border col-3" asp-area="" asp-page="/NewAccount">Create a new account</a>

    <div>&nbsp;</div>
    <div>&nbsp;</div>

    <div class="container">
        <div class="row p-2 rounded backgroundWhite border">
            <h5 class="text-center text-primary">Existing User Login</h5>
            <div class="col-8 pt-3">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Enter User Name</label>
                    </div>
                    <div class="col-9">
                        <input id="inputUsername" class="form-control" asp-for="UserObj.userName" />
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>

    <div class="row text-center">
        <div>
            <button type="submit" class="btn btn-primary form-control">&nbsp;&nbsp;Submit&nbsp;&nbsp;</button>
        </div>
    </div>
</form>


@section Scripts{
    <script src="~/js/tracker.js"></script>
}

<script>
    $(document).ready(function () {
        isChecked = false;
        console.log("resetting isChecked");
        console.log(isChecked)
    });

</script>