@page
@model CS3750FinalTimeTracker.Pages.NewAccountModel

<form method="post" asp-action="Password" class="text-center" enctype="multipart/form-data">
    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border">

            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>

            <div class="col-12 px-3 mt-3" style="border-bottom:1px solid #325d88">
                <h2 class="text-dark">Create Account</h2>
            </div>

            <div class="col-8 pt-3">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="UserObj.User.userName"></label>
                    </div>
                    <div class="col-9">
                        <input id="inputUsername" class="form-control" asp-for="UserObj.User.userName" />
                        <span class="text-danger" asp-validation-for="UserObj.User.userName"></span>
                    </div>
                </div>
                @if (Model.UserObj.User.Id != 0)
                {
                    <input type="hidden" asp-for="UserObj.User.Id" />
                }

                <div class="form-group row">
                    <div class="col-3">
                        <label> Password</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" id="userPassword" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row px-2 mx-2 backgroundWhite border justify-content-between">
            <h5 class="m-2 p-2">Choose A Group</h5>

            <div class="m-2 p-2" id="selectUserGroup">
                @Html.DropDownListFor(m => m.UserObj.User.GroupId,
                             Model.UserObj.GroupList,
                             "- Please select a group - ",
                             new { @class = "form-control" })
                <span class="text-danger" asp-validation-for="UserObj.User.GroupId"></span>
            </div>

            <div class="m-2 p-2">
                <a asp-page="CreateGroup" class="btn btn-primary">Create A New Group</a>
            </div>
        </div>

        <asp:HiddenField id="hdnHash" runat="server" value="" asp-for="UserObj.User.hash"></asp:HiddenField>
        <input id="hiddenhash" type="hidden" runat="server" />

        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>

        <div class="row justify-content-between">
            <div>
                <a asp-page="Observer" class="btn btn-primary">Proceed As An Observer</a>
            </div>
            <div>
                <button type="submit" class="btn btn-primary form-control" onclick="prepForSubmission()">&nbsp;&nbsp;Submit&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/js/tracker.js"></script>
    <script src="~/js/hash.js"></script>

    <script>

        function prepForSubmission() {

            var password = document.getElementById('userPassword').value;
            hashPassword('@Model.UserObj.User.salt', password);
            saveUsername();
            saveGroupChoice();
        }

        function hashPassword(salt, password) {

            var toHash = password + salt;

            var hash = sha256(toHash);

            //saveHash(hash);

            document.getElementById("hiddenHash").value = hash;
            document.getElementById('<%=hdnHash.ClientID%>').value = hash;
            $('#hiddenHash').val(hash);
        }

        function saveGroupChoice() {

            var userGroup = @Model.UserObj.User.GroupId;
            console.log(userGroup)
            document.cookie = userGroup;
        }

        function saveUsername() {
            var name = document.getElementById("inputUsername").value;
            console.log(name)
            document.cookie = name;
        }

        //function saveHash(hash) {
        //    var hashedPassword = hash;
        //    console.log(hashedPassword)
        //    document.cookie = hashedPassword;
        //}

    </script>
}