@page
@model CS3750FinalTimeTracker.Pages.NewAccountModel


<form method="post" asp-action="Tracker" class="text-center" enctype="multipart/form-data">
    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border">

            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>

            <div class="col-12 px-3 mt-3" style="border-bottom:1px solid #325d88">
                <h2 class="text-dark">Create Account</h2>
            </div>

            <div class="col-8 pt-3">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="UserObj.User.userName"></label>
                    </div>
                    <div class="col-9">
                        <input id="inputUsername" class="form-control" asp-for="UserObj.User.userName" />
                        <span class="text-danger" asp-validation-for="UserObj.User.userName"></span>
                    </div>
                </div>
                @if (Model.UserObj.User.Id != 0)
                {
                    <input type="hidden" asp-for="UserObj.User.Id" />
                }

                <div class="form-group row">
                    <div class="col-3">
                        <label> Password</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" id="userPassword" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="UserObj.User.GroupId"></label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(m => m.UserObj.User.GroupId,
                                     Model.UserObj.GroupList,
                                     "- Please select a group - ",
                                     new { @class = "form-control" })
                        <span class="text-danger" asp-validation-for="UserObj.User.GroupId"></span>
                    </div>
                </div>

                <p onclick="prepForSubmission()" class="rounded bg-info">
                    I agree to terms
                </p>

                <!--<-->@*div class="col-6">
                    <button class="btn btn-primary form-control" onclick="prepForSubmission()">Create Account</button>
                </div>*@

                <div id="hiddenHash" visible="false">
                    <input class="form-control" asp-for="UserObj.User.hash" />
                </div>

                <div id="hiddenSalt" visible="false">
                    <input class="form-control" asp-for="UserObj.User.salt" />
                </div>

            </div>
        </div>

        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>

        <div class="row justify-content-between">

            <div class="row">
                <div>
                    <input type="checkbox" id="observerCheckBox" name="observerCheckbox" value="true" onclick="storeCheckboxValue()" />
                </div>
                <div>
                    <h5 class="text-primary">&nbsp;&nbsp; Proceed as an observer</h5>
                </div>
            </div>

          

            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">Submit</button>
            </div>
        </div>

    </div>
</form>

@section Scripts{
    <script src="~/js/tracker.js"></script>
    <script src="~/js/hash.js"></script>

    <script>

        function prepForSubmission() {

         
            saveUsername();
            hashPassword();

        }

        function saveUsername() {
            var name = document.getElementById("inputUsername").value;
            document.cookie = name;
        }

        function hashPassword() {

            var password = document.getElementById("userPassword").value;

            var result = '';
            var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for (var i = 0; i < 8; i++) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }

            document.getElementById("hiddenHash").value = result;

            var toHash = password + result;

            var hash = sha256(toHash);

            document.getElementById("hiddenSalt").value = hash;
        }

    </script>

}