
@page
@model CS3750FinalTimeTracker.Pages.PasswordModel
@using Microsoft.AspNetCore.Http;

@{
}

<form method="post" action="Tracker.cshtml" class="text-center" enctype="multipart/form-data">
    <div class="form-group row">
        <div class="col-3">
            Password
        </div>
        <div class="col-9">
            <input id="inputPassword" value="@HttpContext.Session.GetString("salt")" />
        </div>
    </div>
</form>